body {
  background: indigo;
}
.container {
  max-width: 400px;
}
input[type="text"],
input[type="text"]:focus {
  color: black;
  border: none;
  max-width: 400px;
}
.todos li {
  background: white;
}
.delete {
  cursor: pointer;
}

.filtered{
  display: none !important;
}
